@model int  


<div class="row">
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary" asp-route-id="@Model"><i class="fade fa-fw fa-edit"></i>Düzenle</button>
    </div>

    <div class="col-md-6">
        <a asp-action="Index" class="btn btn-primary">Kayıt Listesi</a>
    </div>
</div>